/* header */
.header {
    width: 100%;
    background-color: #292929;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: .5%;
    padding-bottom: .5%;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    padding-left: 50px;
}
.header__menu__item {
    color: #fff;
    transition: .3 ease;
}
.header__menu__item:hover {
    transition: .3 ease;
    color: #ff6163;
}
.viewshop__header__ul__item:hover{
    color: #ff6163;
}
.header__navigation {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__navigation__favorite {
    width: 20px;
    color: #c4c4c4;
}
.header__navigation__authorization {
    width: 185px;
    height: 30px;
    border: none;
    background-color: #292929;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-right: 1%;
}
.header__navigation__authorization:hover {
    color: #ff6163;
}
.header__navigation__newpost {
    color: #fff;
    background-color: #00AAFF;
    font-size: 14px;
    line-height: 16px;
    border: 1px solid #00AAFF;
    width: 185px;
    height: 30px;
    border-radius: 3px;
}
/* nav */
.nav {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-left: 3%;
    align-items: center;
}
.nav__logo {
}
.nav__menu {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.nav__menu__item {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    margin-left: 3px;
}
.nav__menu__item:hover{
    color: #ff6163;
}
/* search */
.search {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid #0099e6;
    
}
.search__select__first {
    height: 36px;
    line-height: 36px;
    padding: 0 20px 0 10px;
    text-overflow: ellipsis;
    background-color: transparent;
    margin: 0;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: .01px;
    text-overflow: '';
    outline: 0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    height: 40px;
    width: 15%;
    float: left;
    background: #fff url('../img/downarrow_121316.svg') 98% center no-repeat;
    background-size: 10%;
    padding-right: 10px;
    border-radius: 0px !important;
    border-right: 2px solid #0099e6;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}
.search__select__second {
    height: 36px;
    line-height: 36px;
    padding: 0 20px 0 10px;
    text-overflow: ellipsis;
    background-color: transparent;
    margin: 0;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: .01px;
    text-overflow: '';
    outline: 0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    height: 40px;
    width: 15%;
    float: left;
    background: #fff url('../img/downarrow_121316.svg') 98% center no-repeat;
    background-size: 10%;
    padding-right: 10px;
    border-radius: 0px !important;
    border-left: 2px solid #0099e6;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}
.search__select__third {
    height: 36px;
    line-height: 36px;
    padding: 0 20px 0 10px;
    text-overflow: ellipsis;
    background-color: transparent;
    margin: 0;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-indent: .01px;
    text-overflow: '';
    outline: 0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    height: 40px;
    width: 15%;
    float: left;
    background: #fff url('../img/downarrow_121316.svg') 98% center no-repeat;
    background-size: 10%;
    padding-right: 10px;
    border-radius: 0px !important;
    border-left: 2px solid #0099e6;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease;
}
.search__input{
    width: 50%;
    border:none;
    font-size: 16px;
    padding-left: 10px;
}
.search__button {
    width: 5%;
    font-size: 14px;
    color: #fff;
    float: right;
    height: 40px;
    border: 2px solid #0099e6;
    background-color: #0099e6;
}
.search__button:hover{
    transition: .7s ease;
    border: 2px solid #1f7ead;
    background-color: #1f7ead;
}
/* viewshop */
.viewshop {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 220px;
}
.viewshop__header__ul {
    display: flex;
    flex-direction: row;
    color: #c4c4c4;
}
.viewshop__header__ul a{
    color: #c4c4c4;
}
.viewshop__body {
    height: 100px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
}
.viewshop__body__h1 {
    padding-left: 150px;
    z-index: 1;
    margin: auto;
    font-size: 30px;
    text-align: center;
}
.viewshop__body__text {
    z-index: 2;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viewshop__body__text__icon {
    width: 40px;
}
.viewshop__body__text__text {
    text-align: left;
}
/* product */
.product {
    display: flex;
    flex-direction: row;
    margin-left: 3%;
    margin-top: 3%;
}
.product__main {
    max-width: 650px;
}
.product__main__name {
    font-size: 32px;
    width: 90%;
}
.product__main__favorites {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
.product__main__favorites__add {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    float: left;
    width: 200px;
    border-radius: 5px;
}
.product__main__favorites__text {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    float: left;
    width: 200px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}
.product__main__favorites__time {
}
.product__main__icon {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.product__main__icon img{
    width: 100%;
    height: 100%;
}
.product__main__description {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.product__main__description__contain {
    color: #4e4d4d;
    margin-bottom: 20px;
}
hr {
    margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid #c4c4c4;
}
.product__main__description__place {
    margin-top: 20px;
    color: #4e4d4d;
}
.product__main__description__text {
    margin-top: 20px;
    color: #4e4d4d;
}
.product__about {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-left: 2%;
}
.product__about__price {
    font-size: 32px;
}
.product__about__credit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.product__about__credit__tinkoff{
    width: 40px;
    height: 40px;
}
.product__about__delivery__button {
    color: rgb(255, 255, 255);
    background-color: #1fa9ff;
    border: none;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    height: 66px;
}
.product__about__delivery__button:hover{
    transition: .7s ease;
    border: 2px solid #1a9bdb;
    background-color: #1a9bdb;
}
.product__about__delivery__button a{
    color: #fff;
}
.product__about__delivery {
    display: flex;
    flex-direction: column;
}
.product__about__delivery__item {
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.product__about__delivery__item img{
    width: 15px;
    margin-right: 5px;
}
.product__about__showphone {
    color: rgb(255, 255, 255);
    background-color: #89cf1f;
    border: none;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    height: 66px;
}
.product__about__showphone:hover{
    transition: .7s ease;
    background-color: #9add34;
}
.product__about__message {
    color: rgb(255, 255, 255);
    background-color: #1fa9ff;
    border: none;
    width: 100%;
    margin-top: 25px;
    font-size: 20px;
    height: 66px;
}
.product__about__message:hover{
    transition: .7s ease;
    border: 2px solid #1a9bdb;
    background-color: #1a9bdb;
}
.product__about__rating {
    margin-top: 20px;
}
.product__about__rating__h {
    color: #1fa9ff;
    font-size: 18px;
}
.product__about__rating__star {
    margin-top: 5px;
    align-items: center;
}
.product__about__rating__stars {
    width: 15px;   
}
.product__about__rating__p {
    margin-top: 20px;
}
.product__about__rating__button{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.product__about__others {
    padding: 15px;
    border: 1px solid #c4c4c4;
}
.product__about__others__h {
    color: #1fa9ff;
    font-size: 16px;
}
.product__about__others__t {
    margin-top: 10px;
}
.product__about__others__items {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.product__about__others__items__item {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.product__about__others__items__item__icon {
    width: 50%;
    height: 100px;
}
.product__about__others__items__item__text {
    display: flex;
    padding-left: 5px;
    flex-direction: column;
}
.product__about__others__items__item__text__h {
    font-size: 13px;
}
.product__about__others__items__item__text__p {
    font-size: 13px;
    padding-top: 5px;
}
.header__mobile {
    display: none;
}
.product__mobile {
    display: none;
}
.desc__mobile {
    display: none;
}
.ask__mobile {
    display: none;
}
.other__mobile {
    display: none;
}
.footer__mobile {
    display: none;
}
@media (max-width: 414px) {
    .header{
        display: none;
    }
    .nav{
        display: none;
    }
    .search{
        display: none;
    }
    .viewshop{
        display: none;
    }
    .product{
        display: none;
    }
    .header__mobile {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        height: 38px;
        align-items: center;
        position: fixed;
        -webkit-box-shadow: 0px 3px 9px 1px rgba(107, 107, 107, 0.2); 
        -moz-box-shadow: 0px 3px 9px 1px rgba(107, 107, 107, 0.2); 
        box-shadow: 0px 3px 9px 1px rgba(107, 107, 107, 0.2);
    }
    .header__mobile__link{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__mobile__link img{
        width: 20px;
    }
    .product__mobile {
        display: flex;
        flex-direction: column;
    }
    .product__mobile__img{
        padding-top: 50px;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .product__mobile__img img{
        width: 65%;
    }
    .product__mobile__info {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .product__mobile__info__h {
        font-size: 16px;
        margin: 0 10px 10px 10px;
    }
    .product__mobile__info__price {
        font-weight: bold;
        margin: 10px;
    }
    .product__mobile__info__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .product__mobile__info__buttons button{
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 43%;
    }
    .product__mobile__info__buttons img{
        padding-right: 10px;
    }
    .product__mobile__info__buttons1 {
        align-items: center;
        color: rgb(255, 255, 255);
        background-color: #89cf1f;
        border: none;
        transition: .7s ease;
        margin-top: 25px;
        font-size: 15px;
        height: 40px;
    }
    .product__mobile__info__buttons1:hover{
        transition: .7s ease;
        background-color: #9add34;
    }
    .product__mobile__info__buttons2 {
        align-items: center;
        color: rgb(255, 255, 255);
        background-color: #1fa9ff;
        border: none;
        transition: .7s ease;
        margin-top: 25px;
        font-size: 15px;
        height: 40px;
    }
    .product__mobile__info__buttons2:hover{
        transition: .7s ease;
        background-color: #1a9bdb;
    }
    .product__mobile__info__text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        align-items: center;
        color: #c4c4c4;
    }
    .product__mobile__info__text span{
        background-color: #89cf1f;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .product__mobile__info__text__h {
        font-weight: bold;
        padding-right: 5px;
    }
    .product__mobile__info__delivery img{
        padding-right: 10px;
    }
    .product__mobile__info__delivery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        align-items: center;
        color: rgb(255, 255, 255);
        background-color: #1fa9ff;
        border: none;
        border-radius: 5px;
        width: 93%;
        transition: .7s ease;
        margin-top: 25px;
        font-size: 15px;
        height: 40px;
    }
    .product__mobile__info__delivery:hover{
        transition: .7s ease;
        background-color: #1a9bdb;
    }
    .product__mobile__info__about { 
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #1fa9ff;
        margin: 20px 0 20px 0;
    }
    .product__mobile__info__place {
        margin-left: 3%;
        line-height: 20px;
    }
    .hidden{
        display: none;
    }
    .desc__mobile {
        display: flex;
        flex-direction: column;
        margin: 30px 3% 0 3%;
    }
    .desc__mobile__h {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .desc__mobile__p {
        padding: 10px 0 10px 0;
    }
    .desc__mobile__h6 {
        font-weight: bold;
    }
    .desc__table {
        display: flex;
        flex-direction: column;
    }
    .desc__table__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 10px;
    }
    .desc__table__item__left {
        color: #c4c4c4;
    }
    .ask__mobile {
        margin: 20px 3% 20px 3%;
        display: flex;
        flex-direction: column;
    }
    .question{
        border: none;
        border-radius: 20px;
        height: 40px;
        font-size: 13px;
        padding: 0 20px 0 20px;
        margin-bottom: 10px;
        color: #1a9bdb;
        background-color: #b4e4fc;
    }
    .ask__mobile__block {
        display: flex;
        flex-direction: column;
        margin: 20px 3% 20px 3%;
        background-color: #e0e0e0;
        border-radius: 7px;
        padding: 15px;
    }
    .ask__mobile__block__items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .ask__mobile__block__items__rate {
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        display: flex;
    }
    .ask__mobile__block__items__rate img{
        width: 15px;
    }
    .shopping__bag{
        background-color: #cccccc;
        border-radius: 20px;
        width: 60px;
        height: 60px;
    }
    .rate {
        align-items: center;
    }
    .ask__mobile__social{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: space-evenly;
    }
    .ask__mobile__subscribe{
        font-size: 13px;
        background-color: #e0e0e0;
        height: 40px;
        width: 93%;
        border: none;
        border-radius: 5px;
        margin: auto;
        margin-bottom: 10px;
    }
    .ask__mobile__social img{
        border-radius: 4px;
        width: 40px;
    }
    .other__mobile {
        display: flex;
    }
    .footer__mobile {
        display: flex;
    }
    /* .header__menu {
        display: none;
    }
    .header__menu__item {
        font-size: 9px;
    }
    .header__navigation {
    }
    .header__navigation__favorite {
        width: 15px;
    }
    .header__navigation__authorization {
        width: 130px;
        height: 20px;
        font-size: 10px;
    }
    .header__navigation__newpost {
        font-size: 9px;
        height: 20px;
        width: 130px;
    }
    .nav {
    }
    .nav__logo {
        
    }
    .nav__menu {
        margin-left: 30px;
    }
    .nav__menu__item {
    }
    .search{
        display: flex;
        flex-direction: column;
    }
    .search__button{
        width: 100%;
    }
    .search select{
        width: 100%;
    }
    .search input{
        border:3px solid #0099e6;
        width: 100%;
    }
    .search__input{
    }
    .search__select__first{
        border:3px solid #0099e6;
    }
    .search__select__second{
        border:3px solid #0099e6;
    }
    .search__select__third{
        border:3px solid #0099e6;
    }
    .viewshop__header__ul__item{
        font-size: 10px;
    }
    .viewshop__body__h1{
        font-size: 20px;
        padding: 0;
    }
    .viewshop__body__text{
        font-size: 10px;
    }
    .viewshop__body__text__icon{
        width: 20px;
    }
    .product{
        margin-left: 0;
        margin-top: 20px;
        flex-direction: column;
    }
    .product__main__name{
        margin-left: 3%;
        font-size: 25px;
    }
    .product__main__favorites{
        font-size: 14px;
        margin-left: 3%;
    }*/
    /* .product__main__icon{
        width: 100vw;
    }
    .product__main__description{
        padding: 0 3% 0 3%;
    }
    .product__about{
        margin: auto;
        justify-content: center;
    }  */
}